[Desktop Entry]
Version=1.0
Name=N9 RPN
Comment=Minimal RPN Calc
Exec=python /opt/rpncalc/main.py
Icon=/opt/rpncalc/img/icon80.png
Terminal=false
Type=Application
